* {
    font-family: 'Roboto', sans-serif;
}
.panel_wrapper {
    background-color: #6e716e;
    color: #fff;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    text-align: center;

}
.subheader {
    height: 80px;
    background-color: #ffffff;
    margin-top: 10px;
 }
 

.d-flex {
    padding: 18px;
}

.copyright {
    background-color: #6e716e;
    color: #fff;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    text-align: center;
}